@using Nimbus.Shared.Services;
@using Nimbus.Shared.Entities;
@using Nimbus.Shared.Repositories;
@inject SelectionService SelectionService;
@inject IAddressRepository AddressRepository;
@inject IRouteRepository RouteRepository;
@inject IFormFactor FormFactor;
@page "/addStop"
@if (SelectionService.selectedRoute == null)
{
    <h1>Please select a route first</h1>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="selectRoute">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Select Route
        </NavLink>
    </div>
}
else
{
    <PageTitle>AddStop</PageTitle>

<h1>Add New Stops</h1>
    <h3>To Route: @SelectionService.selectedRoute.Id Route Name: @SelectionService.selectedRoute.nickName</h3>

<div class="d-flex">
<form method="post" style="display: grid">
    <div>
    <label name="streetNumber">Street Number:</label>
    <input type="number" name="streetNumber" @bind="streetNumber" />
    <br/>
    <label name="streetName">Street Name:</label>
    <input type="text" name="streetName" @bind="streetName" />
    <br/>
    <label name="city">City:</label>
    <input type="text" name="city" @bind="city"/>
    <br/>
    <label name="state">State:</label>
    <input type="text" name="state" @bind="state"/>
    <br/>
    <label name="zipCode">Zip Code:</label>
    <input type="number" name="zipCode" @bind="zipCode"/>
    <br/>
    </div>
</form>
</div>

<p role="presentation">Stops Added: @stopsAdded @* @newAddress.streetNumber @newAddress.streetName, @newAddress.city, @newAddress.state @newAddress.zipCode *@</p>

<button color="Primary Color" class="btn btn-primary" @onclick="AddNewStopAsync">Confirm</button>
}
